/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -280px;
  width: 280px;
  height: 100%;
  background-color: #8e959b;
  z-index: 1000;
  color: #ced2cc;
  transition: left 0.3s ease;
  overflow-y: auto; /* Ajout de défilement vertical si le contenu dépasse la hauteur */
}

.sidebar.show {
  left: 0;
}

.sidebar .brand-name {
  font-weight: bold;
  color: #8e8d8a;
}

.sidebar .list-group-item {
  transition: background-color 0.2s ease;
  color: #000000;
}

.sidebar .list-group-item.active {
  background-color: #a6c1b1;
  color: white;
}

.sidebar .list-group-item:hover {
  background-color: #d8c3a5;
  color: #23282d;
}

.sidebar .list-group-item i {
  color: #21145c;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .sidebar {
    left: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sidebar {
    left: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .sidebar {
    left: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sidebar {
    left: 0;
  }
}
